@import "tailwindcss";

html,body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0EBE1;
  color: #273A58;
}

@theme{
  --font-instrument-serif: 'Instrument Serif', serif;
  --font-news-cycle: 'News Cycle', sans-serif;
  --font-archivo: 'Archivo', sans-serif;
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar{
    animation: loading 0.8s ease infinite;
  }
}